{# Determine if DigitalOcean is enabled by checking DNS and VM provider values #}
{% set do_enabled = ( (warhorse.dns.provider | default('') | lower == "digitalocean") 
                       or (warhorse.vm is defined and (warhorse.vm | selectattr('provider', 'equalto', 'digitalocean') | list | length > 0) ) ) %}
{% if do_enabled %}
variable "do_token" {
  description = "Digital Ocean API Key"
  type        = string
  sensitive   = true
}
{% endif %}

{# Determine if Linode is enabled #}
{% set linode_enabled = ( (warhorse.dns.provider | default('') | lower == "linode") 
                           or (warhorse.vm is defined and (warhorse.vm | selectattr('provider', 'equalto', 'linode') | list | length > 0) ) ) %}
{% if linode_enabled %}
variable "linode_token" {
  description = "Linode API Key"
  type        = string
  sensitive   = true
}
{% endif %}

{# Determine if Cloudflare is enabled #}
{% set cloudflare_enabled = ( (warhorse.dns.provider | default('') | lower == "cloudflare") 
                               or (warhorse.vm is defined and (warhorse.vm | selectattr('provider', 'equalto', 'cloudflare') | list | length > 0) ) ) %}
{% if cloudflare_enabled %}
variable "cloudflare_token" {
  description = "Cloudflare API Key"
  type        = string
  sensitive   = true
}
{% endif %}
